body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #5f5f5f;
}

/*NavBar*/
nav{
  background: #454545;
}
.home-nav-link{
  color: #aa9;
}
.navbar-brand{
  margin: 0px;
  padding: 8px;
}

.nav-link{
  margin: 4px 8px;
}

/*HomePage Container*/
.homepage-cont{
  padding-top: 120px;
}

/*Auth Form*/
.authform-cont{
  padding-top: 80px;
  width: 65%; 
}

/*TodoList Component*/
.todo-list-cont{
  width: 65%;
  margin: 0 auto;
  padding-top: 80px; 
}

.todo-row{
  margin: 12px auto;
  background-color: #454545;
  border-radius: 5px;
  padding: 8px;
}

.todo-check-input{
  float: left;
  margin-top: 14px;
}

.todo-text{
  float: left;
  margin-bottom: 0px;
  padding: 8px 0px;
}

.todo-delete-btn{
  float: right;
}